@page
@model OdeToFood.Pages_Resturants.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>@Model.Message</h2>
<form method="get" class="col-lg-4">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn"><button class="btn btn-default">
                 <i class="glyphicon glyphicon-search"></i></button></span>
        </div>
    </div>
</form>

<table class="table table-striped">
    @foreach (var resturant in Model.Resturants) {
        <tr>
            <td>@resturant.Name</td>
            <td>@resturant.Location</td>
            <td>@resturant.Cuisine</td>
            <td>
                <a asp-page="./Detail" asp-route-resturantId="@resturant.Id" class="btn" ><i class="glyphicon glyphicon-zoom-in"></i></a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-resturantId="@resturant.Id" class="btn" ><i class="glyphicon glyphicon-edit"></i></a>
            </td>
        </tr>
    }
    
</table>

<a class="btn btn-primary" type="submit" asp-page=".\Edit">Add New</a>

